@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer base {*/
/*  html {*/
/*    font-family: 'Montserrat', sans-serif;*/
/*  }*/
/*  h1 {*/
/*    font-weight: 700;*/
/*    font-size: 32px;*/
/*    line-height: 41px;*/
/*    letter-spacing: -0.01em;*/
/*  }*/
/*  h2 {*/
/*    font-weight: 700;*/
/*    font-size: 22px;*/
/*    line-height: 32px;*/
/*    letter-spacing: 0;*/
/*  }*/
/*  p {*/
/*    font-weight: 400;*/
/*    font-size: 14px;*/
/*    line-height: 21px;*/
/*    letter-spacing: 0;*/
/*  }*/
/*}*/

.uppercase {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
}

.small-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
}

.button-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

.button-shadow {
  box-shadow: 0 3px 13px 0 #17203142;
}

.is-Active {
  @apply text-Primary transition-colors
}

.is-Active-nav {
  @apply border-b-[3px] border-black text-Primary transition-colors
}
